@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

body {
    font-family: Roboto, sans-serif;
}

main, footer, header {
    max-width: 640px;
    margin: 1rem auto;
    border: 1px solid #bbb;
    background-color: skyblue;
    padding: 1rem;
}

main {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 1rem;
}

main section {
    background-color: white;
    padding: 1rem;
}

@media screen and (min-width: 500px) {
    header {
        background-color: black;
        color: white;
    }

    main {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 1rem;
    }
}