main > * {
    margin-inline: 1em;
    text-align: center;
}

main h1 {
    border-bottom: 2px solid var(--primary-color);
}

#heroBox {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(18, 1fr);
    justify-items: center;
}

#heroPortrait {
    grid-column: span 1;
    grid-row: span 8;
    max-width: 90vw;
}

#heroBox * {
    margin: 0;
}

#heroBox h2, h3 {
    grid-column: 1 / span 1;
}


#heroBox p {
    grid-column: 1 / span 1;
    grid-row: span 2;
    margin-inline: 10px;
}

#heroBox #tagList {
    font-style: italic;
    grid-row: span 1;
}

#sideKick {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(8, 1fr);
    justify-items: center;
}

#sideKick p {
    grid-column: 1 / span 1;
    grid-row: 1 / span 2;
    margin: 0;
    align-self: start;
}

#embedBtn {
    width: 150px;
    margin: 2em;
}

#sideKick > img {
    grid-row: span 2;
    max-width: 90vw;
}

#primaryImg {
    grid-column: 1 / span 1;
}

#secondaryImg {
    grid-column: 1 / span 1;
}

#tertiaryImg {
    grid-column: 1 / span 1;
}

@media screen and (min-width: 850px){
    main > * {
        text-align: left;
    }

    #heroBox {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(9, 1fr);
        justify-items: start;
    }
    
    #heroPortrait {
        grid-column: 2 / span 1;
        grid-row: 1 / span 8;
        max-width: 60vw;
    }

    #sideKick {
        display: grid;
        grid-template-columns: repeat(2, 50vw);
        grid-template-rows: repeat(4, 1fr);
        justify-items: start;
    }

    #sideKick img {
        max-width: 40vw;
    }

    #primaryImg {
        grid-column: 2 / span 1;
    }

    #tertiaryImg {
        grid-column: 2 / span 1;
    }
}