:root {
    --primary-color: #223843;
    --secondary-color: #EFF1F3;
    --accent1-color: #329F5B;
    --accent2-color: #00C49A;
    --text-dark: #333;
    --text-light: #EFF1F3;
    --primary-font: Verdana, Helvetica, sans-serif;
    --secondary-font: TaHoma, sans-serif;
}

body {
    margin: 0;
    background-color: var(--secondary-color);
}

/* Header Stuff */
header {
    background-color: var(--primary-color);
    height: 75px;
}

.logo {
    max-height: 100%;
}

/* Footer Stuff */
footer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    height: 125px;
    background-color: var(--primary-color);
}

#footerLogo a {
    display: block;
    height: 125px;
}

footer p {
    align-self: end;
    justify-self: center;
    color: var(--accent2-color);
}

.social {
    grid-column-start: 3;
    justify-self: end;
    margin: 10px;
}

.social a {
    color: var(--accent2-color);
}

/* Helper classes */
.hide {
    display: none;
}